h1 {
    color: yellowgreen;
    background-color: antiquewhite;
    font-weight: 800;
    font-family: Helvetica, "Times New Roman", sans-serif;
    text-align: center;
}

h2 {
    color: black;
    background-color: yellowgreen;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.list {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ulist {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.carb {
    text-align: left;
}

